{% load static %}

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
    <div class="container u-space-2-top">
      <div class="row justify-content-lg-between mb-7">
        <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
          <!-- Title -->
          <h3 class="h6 u-text-light">
            <strong>Acerca de</strong>
          </h3>
          <!-- End Title -->
  
          <!-- List -->
          <ul class="list-unstyled u-list">
            <li><a class="u-list__link" href="#">Quienes somos</a></li>
            <li><a class="u-list__link" href="#">Servicios</a></li>
            <li><a class="u-list__link" href="#">Preguntas Frecuentes</a></li>
          </ul>
          <!-- End List -->
        </div>
  
        <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
          <!-- Title -->
          <h3 class="h6 u-text-light">
            <strong>Legal</strong>
          </h3>
          <!-- End Title -->
  
          <!-- List -->
          <ul class="list-unstyled u-list">
            <li><a class="u-list__link" href="#">Privacidad</a></li>
            <li><a class="u-list__link" href="#">Terminos y condiciones</a></li>
          </ul>
          <!-- End List -->
        </div>
  
        <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
          <!-- Title -->
          <h3 class="h6 u-text-light">
            <strong>Contacto</strong>
          </h3>
          <!-- End Title -->
  
          <!-- Address -->
          <address class="u-list">
            <a class="u-list__link" href="#">Servicio al cliente</a>
            <a class="u-list__link" href="#">Soporte</a>
          </address>
          <!-- End Address -->
        </div>
  
        <div class="col-sm-6 col-md-5 col-lg-3 col-lg-3">
          <div class="mb-4">
            <!-- Title -->
            <h3 class="h6 u-text-light mb-3">
              <strong>Subscribete</strong>
            </h3>
            <!-- End Title -->
  
            <!-- Input -->
            <form class="js-validate js-form-message">
              <div class="js-focus-state input-group input-group-sm u-form u-form--sm">
                <input type="email" class="form-control u-form__input" name="email" required
                       placeholder="tu email"
                       aria-label="Enter your email address"
                       data-msg="Please enter a valid email address.">
                <div class="input-group-append u-form__append">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </form>
            <!-- End Input -->
          </div>
  
          <!-- Title -->
          <h3 class="h6 u-text-light mb-3">
            <strong>Mantente enterado!</strong>
          </h3>
          <!-- End Title -->
  
          <!-- Social Networks -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.facebook.com/ingenialo">
                <span class="fab fa-facebook-f u-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.instagram.com/ingenialo">
                <span class="fab fa-instagram u-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://twitter.com/ingenialo/">
                <span class="fab fa-twitter u-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://github.com/ingenialo/">
                <span class="fab fa-github u-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
                <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.youtube.com/channel/UC6Ca0BNpl68DjojpG9JnufQ">
                    <span class="fab fa-youtube u-icon__inner"></span>
                </a>
            </li>
          </ul>
          <!-- End Social Networks -->
        </div>
      </div>
  
      <div class="row justify-content-between align-items-center u-space-1">
        <div class="col-5">
          <!-- Logo -->
          <a class="d-inline-block mb-lg-auto mb-3" href="#" aria-label="Front">
            <img src="{% static 'svg/logos/ingenialo/logo-white.jpg' %}" alt="Logo" style="width: 120px;">
          </a>
          <!-- End Logo -->
        </div>
  
        <div class="col-6 text-right">
          <p class="small mb-0">© 2018 Ingenialo industrias.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->