{% load static %}

<!-- ========== HEADER ========== -->
<header id="header" class="u-header">

    <!-- Search -->
    <div id="searchPushTop" class="u-search-push-top">
        <div class="container position-relative">
            <div class="u-search-push-top__content">
               <!-- Close Button -->
                <button type="button" class="close u-search-push-top__close-btn"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-controls="searchPushTop"
                    data-unfold-type="jquery-slide"
                    data-unfold-target="#searchPushTop">
                        <span aria-hidden="true">×</span>
                </button>
                <!-- End Close Button -->
                <!-- Input -->
                <form class="js-focus-state input-group input-group-lg">
                    <input type="search" class="form-control" placeholder="Search Front" aria-label="Search Front">
                    <div class="input-group-append">
                    <button type="button" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <!-- End Input -->
            </div>
        </div>
    </div>
    <!-- End Search -->
    
    <div class="u-header__section">
        <!-- Topbar -->
        <div class="container u-header__hide-content pt-2">
            <div class="d-flex align-items-center">
                <div class="ml-auto">
                    <div class="ml-auto">
                    </div>
                    <ul class="list-inline ml-2 mb-0">
                        <!-- Search -->
                        <li class="list-inline-item">
                            <a class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    aria-controls="searchPushTop"
                                    data-unfold-type="jquery-slide"
                                    data-unfold-target="#searchPushTop">
                            <span class="fas fa-search btn-icon__inner"></span>
                            </a>
                        </li>
                        <!-- End Search -->
    
                        <!-- Shopping Cart -->
                        <li class="list-inline-item position-relative">
                            <a id="shoppingCartDropdownInvoker" class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                                    aria-controls="shoppingCartDropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    data-unfold-event="hover"
                                    data-unfold-target="#shoppingCartDropdown"
                                    data-unfold-type="css-animation"
                                    data-unfold-duration="300"
                                    data-unfold-delay="300"
                                    data-unfold-hide-on-scroll="true"
                                    data-unfold-animation-in="slideInUp"
                                    data-unfold-animation-out="fadeOut">
                                <span class="fas fa-shopping-cart btn-icon__inner"></span>
                            </a>
                
                            <div id="shoppingCartDropdown" class="dropdown-menu dropdown-unfold dropdown-menu-right text-center p-7" aria-labelledby="shoppingCartDropdownInvoker" style="min-width: 250px;">
                                <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
                                    <span class="fas fa-shopping-basket btn-icon__inner"></span>
                                </span>
                                <span class="d-block">Tu carrito esta vacio</span>
                            </div>
                        </li>
                        <!-- End Shopping Cart -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
            <!-- Logo -->
            <a class="navbar-brand u-header__navbar-brand" href="#" aria-label="Front">
                <img class="u-header__navbar-brand-default" src="{% static '/svg/logos/ingenialo/logo.png' %}" alt="Logo">
            </a>
            <!-- End Logo -->

            <!-- Responsive Toggle Button -->
            <button type="button" class="navbar-toggler btn u-hamburger"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
                <span class="u-hamburger__inner"></span>
            </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div id="navBar" class="collapse navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">
                <!-- Store -->
                <li class="nav-item hs-has-mega-menu u-header__nav-item"
                    data-event="hover"
                    data-animation-in="slideInUp"
                    data-animation-out="fadeOut"
                    data-position="left">
                    <a id="homeMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;"
                        aria-haspopup="true"
                        aria-expanded="false">
                            Tienda
                    </a>

                    <!-- Home - Mega Menu -->
                    <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="homeMegaMenu">
                        <div class="row no-gutters">
                        <div class="col-lg-6">
                            <!-- Banner Image -->
                            <div class="u-header__banner" style="background-image: url({% static '/img/750x750/img1.jpg' %});">
                            <div class="u-header__banner-content">
                                <div class="mb-4">
                                    <span class="u-header__banner-title"></span>
                                    <p class="u-header__banner-text"></p>
                                </div>
                                <a class="btn btn-primary btn-sm transition-3d-hover" href="#">Ver todo<span class="fas fa-angle-right ml-2"></span></a>
                            </div>
                            </div>
                            <!-- End Banner Image -->
                        </div>
        
                        <div class="col-lg-6">
                            <div class="row u-header__mega-menu-wrapper">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <span class="u-header__sub-menu-title">Classic</span>
                                <ul class="u-header__sub-menu-nav-group mb-3">
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="index.html">Classic Agency</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-business.html">Classic Business</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-marketing.html">Classic Marketing</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-consulting.html">Classic Consulting</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-start-up.html">Classic Start-up <span class="badge badge-success badge-primary ml-1">New</span></a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-studio.html">Classic Studio <span class="badge badge-success badge-primary ml-1">New</span></a></li>
                                </ul>
        
                                <span class="u-header__sub-menu-title">Corporate</span>
                                <ul class="u-header__sub-menu-nav-group">
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="corporate-agency.html">Corporate Agency</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="corporate-start-up.html">Corporate Start-Up</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="corporate-business.html">Corporate Business</a></li>
                                </ul>
        
                                <span class="u-header__sub-menu-title">Portfolio</span>
                                <ul class="u-header__sub-menu-nav-group">
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="portfolio-agency.html">Portfolio Agency</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="portfolio-profile.html">Portfolio Profile</a></li>
                                </ul>
                            </div>
        
                            <div class="col-sm-6">
                                <span class="u-header__sub-menu-title">App</span>
                                <ul class="u-header__sub-menu-nav-group mb-3">
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="app-ui-kit.html">App SaaS <span class="badge badge-success badge-primary ml-1">New</span></a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="app-saas.html">App SaaS <span class="badge badge-success badge-primary ml-1">New</span></a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="app-workflow.html">App Workflow <span class="badge badge-success badge-primary ml-1">New</span></a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="app-payment.html">App payment</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="app-software.html">App software</a></li>
                                </ul>
        
                                <span class="u-header__sub-menu-title">Onepages</span>
                                <ul class="u-header__sub-menu-nav-group mb-3">
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="onepage-creative.html">Creative</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="onepage-saas.html">SaaS</a></li>
                                </ul>
        
                                <span class="u-header__sub-menu-title">Blog</span>
                                <ul class="u-header__sub-menu-nav-group">
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="blog-agency.html">Blog Agency</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="blog-start-up.html">Blog Start-Up</a></li>
                                <li><a class="nav-link u-header__sub-menu-nav-link" href="blog-business.html">Blog Business</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- End Home - Mega Menu -->
                </li>
                <!-- End Store -->

                <!-- Tutorials -->
                <li class="nav-item hs-has-mega-menu u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="#">
                        Tutoriales
                    </a>
                </li>
                <!-- End Tutorials -->

                <!-- Blog -->
                <li class="nav-item hs-has-mega-menu u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="#">
                        Blog
                    </a>
                </li>
                <!-- End Blog -->

                <!-- Starter - Link -->
                <li class="nav-item">
                    <a class="nav-link u-header__nav-link" href="https://www.youtube.com/channel/UC6Ca0BNpl68DjojpG9JnufQ">
                        Videos
                    </a>
                </li>
                <!-- End Starter - Link -->

                {% comment %} <!-- Input -->
                <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                    <form class="js-focus-state input-group u-form">         
                        <div class="input-group-prepend u-form__prepend">
                            <span class="input-group-text u-form__text">
                                <span class="fa fa-search"></span>
                            </span>
                        </div>
                        <input type="search" class="form-control u-form__input" placeholder="Buscar" aria-label="Search Front">
                    </form>
                </li>
                <!-- End Input --> {% endcomment %}

            </ul>
            </div>
            <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
        </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->
