{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Title -->
        <title>ingenialo</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
      
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Css global Sources -->
        {% include 'base/css.html' %}
        <!-- Css view Sources -->
        {% block base_head %}{% endblock base_head%}
        
        
    </head>
    <body>
        {% include 'base/header.html'%}

        {% include 'base/message.html' %}

        {% block content %}{% endblock %}
        
        {% include 'base/footer.html'%}

        <!-- Js global Sources -->
        {% include 'base/js.html' %}
        <!-- Js view Sources -->
        {% block javascript %}{% endblock %}
        
    </body>
  </html>