{% extends "layout_log_sign.html" %}
{% load static %}
{% load humanize %}

{% block content %}
        <div class="row no-gutters">
          <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-top-3 space-lg-0">
            <!-- Form -->
            <form method="POST" action="" class="js-validate">
            {% csrf_token %}
              <!-- Title -->
              <div class="mb-5 mb-md-7">
                <h1 class="h2">Bienvenido a Ingenialo</h1>
                <p>Registrate para empezar</p>
              </div>
              <!-- End Title -->

              {% for field in form %}
                <div class="js-form-message form-group">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.errors%}
                        <div  class="invalid-feedback" style="display: block;"> <b>{{ field.errors }}</b></div>
                    {% endif %}
                </div>
              {% endfor %}

              <!-- Checkbox -->
              {% comment %} <div class="js-form-message mb-5">
                <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                  <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required
                         data-msg="Please accept our Terms and Conditions.">
                  <label class="custom-control-label" for="termsCheckbox">
                    <small>
                      I agree to the
                      <a class="link-underline" href="../pages/terms.html">Terms and Conditions</a>
                    </small>
                  </label>
                </div>
              </div> {% endcomment %}
              <!-- End Checkbox -->

              <!-- Button -->
              <div class="row align-items-center mb-5">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <span class="font-size-1 text-muted">Ya tienes una cuenta?</span>
                  <a class="font-size-1 font-weight-bold" href="{% url 'account:login' %}">Ingresa aqui!</a>
                </div>

                <div class="col-sm-6 text-sm-right">
                  <button type="submit" class="btn btn-primary transition-3d-hover">Registrase</button>
                </div>
              </div>
              <!-- End Button -->
            </form>
            <!-- End Form -->
          </div>
        </div>
{% endblock content%}



















