{% extends "layout.html" %}
{% load static %}

{% block base_head %}

   {% comment %} <!-- carrousel -->
   <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">
  {% endcomment %}

{% endblock base_head%}

{% block content %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Images Carousel Section -->
    <div class="container-fluid">
      <div 
          class="js-slick-carousel slick"
          data-hs-slick-carousel-options='{
            "dots": true,
            "dotsClass": "slick-pagination mt-3"
          }'
      >
          {% for hero in heros %}
              <div class="js-slide bg-img-hero-center" style="background-image: url({{hero.image.url}});">
                  <!-- News Block -->
                    <div class="container d-flex align-items-center min-h-620rem">
                      <div class="w-lg-40 mr-5">
                        <div class="mb-5">
                          <h3 class="h1 font-weight-bold text-white"
                              data-hs-slick-carousel-animation="fadeInUp"
                              data-hs-slick-carousel-animation-delay="150">{{ hero.tittle }}
                          </h3>
                          <p class="lead text-white" data-scs-animation-in="fadeInUp">
                            {{ hero.legend }}
                          </p>
                        </div>
                        <a class="btn btn-primary btn-wide transition-3d-hover" href="#"
                          data-hs-slick-carousel-animation="fadeInUp"
                          data-hs-slick-carousel-animation-delay="300">Leer mas <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                      </div>
                    </div>
                    <!-- End News Block -->
              </div>
          {% endfor %}

      </div>
    </div>
    <!-- End Images Carousel Section -->

    <div class="container space-2">
      
    </div>








  </main>
  <!-- ========== END MAIN CONTENT ========== --> 

{% endblock content%}


{% comment %} 
    <!-- Blog Masonry Section -->
    <div class="container u-space-2-top u-space-3-top--md u-space-2-top--lg u-space-2-bottom">
      <!-- Content -->
      <div class="cbp mb-7"
      data-layout="mosaic"
      data-animation="quicksand"
      data-x-gap="16"
      data-y-gap="16"
      data-load-more-selector="#cubeLoadMore"
      data-load-more-action="click"
      data-load-items-amount="4"
      data-media-queries='[
        {"width": 1500, "cols": 3},
        {"width": 1100, "cols": 3},
        {"width": 800, "cols": 3},
        {"width": 480, "cols": 2},
        {"width": 300, "cols": 1}
      ]'>

        <!-- Item -->
        <div class="cbp-item">
          <article>
            <img class="rounded" src="{% static '/img/900x450/img10.jpg' %}" alt="Image Description">
            <div class="bg-white rounded-bottom p-5">
              <small class="d-block text-secondary mb-1">March 20, 2018</small>
              <h2 class="h5 mb-0">
                <a href="single-article-classic.html">Remote workers, here's how to dodge distractions</a>
              </h2>
            </div>
          </article>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item">
          <article>
            <img class="rounded" src="{% static '/img/480x320/img13.jpg' %}" alt="Image Description">
            <div class="bg-white rounded-bottom p-5">
              <small class="d-block text-secondary mb-1">March 20, 2018</small>
              <h3 class="h6 mb-0">
                <a href="single-article-classic.html">How to change careers or start a home-based business?</a>
              </h3>
            </div>
          </article>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item">
          <article>
            <img class="rounded" src="{% static '/img/500x550/img2.jpg' %}" alt="Image Description">
            <div class="bg-white rounded-bottom p-5">
              <small class="d-block text-secondary mb-1">April 1, 2018</small>
              <h3 class="h6 mb-0">
                <a href="single-article-classic.html">Create your adventure</a>
              </h3>
            </div>
          </article>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item rounded">
          <article class="bg-primary rounded p-5">
            <small class="d-block u-text-light mb-1">April 22, 2018</small>
            <h3 class="h6 text-white mb-0">
              <a href="single-article-classic.html">Ideas to stay happy and productive all day for 365 days</a>
            </h3>
          </article>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item">
          <article>
            <img class="rounded" src="{% static '/img/380x360/img5.jpg' %}" alt="Image Description">
            <div class="bg-white rounded-bottom p-5">
              <small class="d-block text-secondary mb-1">March 18, 2018</small>
              <h3 class="h6 mb-0">
                <a href="single-article-classic.html">Announcing a free plan for small teams</a>
              </h3>
            </div>
          </article>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item">
          <article>
            <img class="rounded" src="{% static '/img/480x320/img16.jpg' %}" alt="Image Description">
            <div class="bg-white rounded-bottom p-5">
              <small class="d-block text-secondary mb-1">March 18, 2018</small>
              <h3 class="h6 mb-0">
                <a href="single-article-classic.html">How to make trust your competitive advantage</a>
              </h3>
            </div>
          </article>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item">
          <article>
            <img class="rounded" src="{% static '/img/380x250/img8.jpg' %}" alt="Image Description">
            <div class="bg-white rounded-bottom p-5">
              <small class="d-block text-secondary mb-1">April 29, 2018</small>
              <h3 class="h6 mb-0">
                <a href="single-article-classic.html">Classic design principles</a>
              </h3>
            </div>
          </article>
        </div>
        <!-- End Item -->

    </div>
     <!-- End Content -->  

  </div>
  <!-- End Blog Masonry Section --> {% endcomment %}



{% block javascript %}

  {% comment %} <!-- JS Implementing Plugins -->
  <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
  <script src="{% static 'js/components/hs.slick-carousel.js' %}"></script>

  <script src="{% static 'vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
  <script src="{% static 'js/components/hs.cubeportfolio.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
      $.HSCore.components.HSCubeportfolio.init('.cbp');
    });
  </script> {% endcomment %}

{% endblock javascript%}